.section {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-weight: 500;
  z-index: 1;
  overflow: hidden;
  width: calc(100% / 3);
  transition: width 300ms ease-in-out;
}

.loaded {
  width: 100%;
}

.section:before {
  z-index: -1;
  position: absolute;
  content: '';
  background-color: midnightblue;
  height: 50vh;
  width: 100vw;
  left: 0;
}

.title {
  margin-top: 16px;
  padding: 8px;
  border-bottom: 3px solid whitesmoke;
}

.content {
  padding: 24px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.hero {
  flex: 1 1 30%;
  max-width: 30%;
}
